<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tgl.timesupver1">

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/timesuplogo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/timesuplogo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Success"></activity>
        <activity android:name=".Candidate_Connect_Hall" />
        <activity android:name=".EditProfile" />
        <activity android:name=".BleScanActivity" />
        <activity android:name=".BleDeviceControlActivity" />
        <activity android:name=".Candidate_Home" />
        <activity android:name=".Exam_Lobby" />
        <activity android:name=".Invigilator_Upload_Question" />
        <activity
            android:name=".Invigilator_View_Result"
            android:label="View Result"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Invigilator_Setup_Exam"
            android:label="Setup Exam"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Invigilator_Home"
            android:label="@string/title_activity_invigilator_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:label="Login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Answer_Session" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="org.eclipse.paho.android.service.MqttService" />
    </application>

</manifest>