<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tgl.timesupver1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/timesuplogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/timesuplogo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Candidate_Home"></activity>
        <activity android:name=".Exam_Lobby" />
        <activity android:name=".Invigilator_Upload_Question" />
        <activity
            android:name=".Invigilator_View_Result"
            android:label="View Result"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Invigilator_Setup_Exam"
            android:label="Setup Exam"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Invigilator_Home"
            android:label="@string/title_activity_invigilator_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>